
# ST
Core/** linguist-vendored
Drivers/** linguist-vendored
Makefile linguist-vendored
*.ld linguist-vendored
*.s linguist-vendored

# DSPC
doc/** linguist-vendored
tools/** linguist-vendored
*.sh linguist-vendored

